@import "variables.styl"

// -- el-dialog --

.el-dialog
  max-width: 100vw

.el-dialog--no-header
  .el-dialog__body
    padding-top: 20px
  .el-dialog__header
    display: none

.el-dialog--no-footer
  .el-dialog__body
    padding-bottom: 20px
  .el-dialog__footer
    display: none

.el-dialog--compressed-body
  .el-dialog__body
    padding-top: 10px
    padding-bottom: 10px

// -- el-message --

.el-message
  box-shadow: 0 8px 16px -8px rgba(0,0,0,0.4)

// -- el-tabs --

.el-tabs__item
  font-weight: 600
  text-transform: uppercase

/*
.el-tabs--border-card
  border: 0
  border-radius: 4px
  box-shadow: none
*/

.el-tabs--allow-overflow
  .el-tabs__content
    overflow: initial

// -- el-form --

.el-form--cozy
  .el-form-item
    transition: margin 0.2s ease
    margin-bottom: 15px
    &.is-error
      margin-bottom: 22px

.el-form--compact
  .el-form-item
    transition: margin 0.2s ease
    margin-bottom: 10px
    &.is-error
      margin-bottom: 22px

.el-input-group__append
.el-input-group__prepend
  padding: 0 15px

.el-form__label-tiny
  .el-form-item__label
    font-size: 0.75rem
    line-height: 24px
    padding-bottom: 0

// -- el-collapse --

.el-collapse--plain
  border-top-color: transparent
  border-bottom-color: transparent

  .el-collapse-item__header
  .el-collapse-item__wrap
    background-color: transparent
    border-bottom-color: transparent
    overflow: visible

.el-collapse-item__content
  line-height: inherit

// -- el-button --

/*
.el-button--micro, .el-button--micro.is-round
  padding: 4px 7px

.el-button--micro
  font-size: 9px
  border-radius: 2px
*/

.el-button--tiny,
.el-button--tiny.is-round
  padding: 5px 9px

.el-button--tiny
  font-size: 12px
  border-radius: 3px

.el-button--tiny + .el-button--tiny
  margin-left: 6px

.el-button--large,
.el-button--large.is-round
  padding: 15px 25px

.el-button--large
  font-size: 16px
  border-radius: 5px

.el-button
  &.b
    font-weight: bold
  &.fw6
    font-weight: 600

// -- el-radio-button --

.el-radio-button--tiny
  &:first-child .el-radio-button__inner
    border-radius: 3px 0 0 3px
  &:last-child .el-radio-button__inner
    border-radius: 0 3px 3px 0
  .el-radio-button__inner
    padding: 5px 9px
    font-size: 12px

.el-radio-button--micro
  &:first-child .el-radio-button__inner
    border-radius: 3px 0 0 3px
  &:last-child .el-radio-button__inner
    border-radius: 0 3px 3px 0
  .el-radio-button__inner
    padding: 4px 6px 5px
    font-size: 10px

// -- el-input --

.el-input.f5,
.el-select.f5
  .el-input__inner
    font-size: 1rem

// -- el-alert --

.el-alert
  padding: 10px 16px
  min-height: 44px

.el-alert--info-blue
  background-color: rgba(64,158,255,.1)
  color: $blue

.el-alert__closebtn
  font-size: 1.5rem
  top: 10px
  right: 12px
  color: rgba(0,0,0,.3)
  &:hover
    color: rgba(0,0,0,.6)

// -- el-icon --

[class*=" el-icon-"],
[class^=el-icon-]
  &.b
    font-weight: bold
  &.fw6
    font-weight: 600
  &.el-collapse-item__arrow
    line-height: 48px
    font-weight: 700
