@import "../variables.less";

// -- color overrides --

.dark-green    { color: #009900; }
.bg-dark-green { background-color: #009900; }
.b--dark-green { border-color: #009900; }

.blue    { color: @blue; }
.bg-blue { background-color: @blue; }
.b--blue { border-color: @blue; }

// -- task colors --

.bg-task-gray   { background-color: @task-gray;   }
.bg-task-blue   { background-color: @task-blue;   }
.bg-task-green  { background-color: @task-green;  }
.bg-task-orange { background-color: @task-orange; }
.bg-task-purple { background-color: @task-purple; }

// -- selection --

.no-select {
  user-select: none;
}

// -- cursors --

.cursor-default { cursor: default; }
.cursor-text { cursor: text; }

// -- darken (for button hover, etc.) --

.darken-05:hover,
.darken-05:focus {
  box-shadow: inset 9999px 9999px rgba(0,0,0,0.05)
}

.darken-05:active {
  box-shadow: inset 9999px 9999px rgba(0,0,0,0.10)
}

.darken-10:hover,
.darken-10:focus {
  box-shadow: inset 9999px 9999px rgba(0,0,0,0.10)
}

.darken-10:active {
  box-shadow: inset 9999px 9999px rgba(0,0,0,0.20)
}

// -- focus styles --

:focus {
  .focus-outline& { outline: 1px solid !important; }
  .focus-outline-transparent& { outline: 1px solid transparent !important; }
  .focus-outline-0& { outline: 0 !important; }

  .focus-ow0& { outline-width: 0 !important; }
  .focus-ow1& { outline-width: .125rem !important; }
  .focus-ow2& { outline-width: .25rem !important; }
  .focus-ow3& { outline-width: .5rem !important; }
  .focus-ow4& { outline-width: 1rem !important; }
  .focus-ow5& { outline-width: 2rem !important; }

  .focus-o--transparent& { outline-color: transparent !important; }
  .focus-o--blue& { outline-color: #357edd !important; }

  .focus-b--transparent& { border-color: transparent; }
  .focus-b--blue& { border-color: #357edd; }
}

// -- positioning --

// TODO: these styles *CANNOT* be responsive; since their CSS
// specificity is the same as the fonts in tachyons.min.css,
// even their media queries would override those styles
.top-auto    { top: auto;    }
.right-auto  { right: auto;  }
.bottom-auto { bottom: auto; }
.left-auto   { left: auto;   }

// -- font family, sizing and letter spacing --

.font-default {
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.lh-inherit {
  line-height: inherit;
}

.monospace {
  font-family: monospace;
}

.f7 { font-size: .8125rem; }
.f8 { font-size: .75rem; }

// -- transitions --

.trans-a  { transition: all .15s linear; }
.trans-p  { transition: padding .15s linear; }
.trans-m  { transition: margin .15s linear; }
.trans-pm { transition: padding .15s linear, margin .15s linear; }
.trans-w  { transition: width .15s linear; }
.trans-h  { transition: height .15s linear; }
.trans-wh { transition: width .15s linear, height .15s linear; }

// -- spacing --

.pv2a { padding-top: .75rem; padding-bottom: .75rem; }

@media @breakpoint-not-small {
  .pv2a-ns { padding-top: .75rem; padding-bottom: .75rem; }
}

@media @breakpoint-medium {
  .pv2a-m { padding-top: .75rem; padding-bottom: .75rem; }
}

@media @breakpoint-large {
  .pv2a-l { padding-top: .75rem; padding-bottom: .75rem; }
}

// -- semantic ui --

.shadow-sui-segment { box-shadow: 0px 1px 2px 0px rgba( 34, 36, 38, 0.15 ); }

@media @breakpoint-not-small {
  .shadow-sui-segment-ns { box-shadow: 0px 1px 2px 0px rgba( 34, 36, 38, 0.15 ); }
}

@media @breakpoint-medium {
  .shadow-sui-segment-m { box-shadow: 0px 1px 2px 0px rgba( 34, 36, 38, 0.15 ); }
}

@media @breakpoint-large {
  .shadow-sui-segment-l { box-shadow: 0px 1px 2px 0px rgba( 34, 36, 38, 0.15 ); }
}
