{
  "presets": ["env"],
  "plugins": [
    "transform-object-rest-spread",
    ["component", {
      "libraryName": "element-ui",
      "styleLibraryName": "theme-chalk"
    }]
  ],
  "comments": false
}
