Header set Cache-Control "public, max-age=7200, must-revalidate"

<FilesMatch "\.php">
Header unset Cache-Control
</FilesMatch>

<If "%{THE_REQUEST} =~ m#POST /api/v1/streams/.{12}/upload#">
php_flag enable_post_data_reading off
</If>
<If "%{THE_REQUEST} =~ m#POST /api/v1/processes/.{12}/input#">
php_flag enable_post_data_reading off
</If>
<If "%{THE_REQUEST} =~ m#POST /api/v1/pipes/.{12}/run#">
php_flag enable_post_data_reading off
</If>

# following is a test URL for seeing raw multipart content
<If "%{THE_REQUEST} =~ m#POST /test/upload#">
php_flag enable_post_data_reading off
</If>

Options -Indexes

# turn rewrite engine on
RewriteEngine On

# redirect an empty url to index.html
RewriteRule ^$ index.html [L]

# rewrite rules for framework
RewriteCond %{REQUEST_FILENAME} -s [OR]
RewriteCond %{REQUEST_FILENAME} -l [OR]
RewriteCond %{REQUEST_FILENAME} -d
RewriteRule ^.*$ - [NC,L]
RewriteRule ^.*$ index.php [NC,L]

# turn off magic quotes
php_flag magic_quotes_gpc off
php_flag short_open_tag on

# required php settings for flex.io
php_value max_execution_time    7200
php_value max_input_time        7200
php_value memory_limit          512M
php_value post_max_size        1000M
php_value upload_max_filesize  1000M
