
// -- UI Font --

.ui-modal,
.ui-textbox,
.ui-collapsible
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif

// -- UI Collapsible --

.ui-collapsible--sm .ui-collapsible__header
  padding-top: 0.25rem
  padding-bottom: 0.25rem
  min-height: auto

// -- UI Modal --

.ui-modal.overflow-visible
  .ui-modal__container,
  .ui-modal__body
    overflow: visible

.ui-modal__header
  background-color: transparent
  box-shadow: none
  height: auto
  min-height: 3.5rem
  padding:  1rem 1.5rem 1rem

.ui-modal__body
  padding: 0 1.5rem 1.5rem 1.5rem

.ui-modal.has-footer .ui-modal__body
  max-height: calc(75vh)

.ui-modal__footer
  height: auto
  padding: 0.75rem

.ui-modal--body-margin
  .ui-modal__body
    padding-left: 0
    padding-right: 0
    margin-left: 1.5rem
    margin-right: 1.5rem

// -- UI Form Elements --

// force feedback text height (so that there's no jump when we show it)
.ui-textbox__feedback
  font-size: 0.75rem
  height: 1rem

.ui-textbox
  margin-bottom: 0.5rem

.ui-textbox__textarea
  line-height: 1.5rem

.ui-select__label-text,
.ui-textbox__label-text
  height: 20px
  line-height: 20px
  transition: color 0.1s ease, transform 0.2s ease, font-size 0.2s ease

.ui-select.has-label .ui-select__label-text,
.ui-textbox.has-label .ui-textbox__label-text,
.ui-textbox.has-floating-label .ui-textbox__label-text.is-floating
  font-size: 0.75rem

// reset to default value
.ui-textbox.has-floating-label .ui-textbox__label-text:not(.is-floating)
  font-size: 0.9375rem

// -- UI Menu --

.ui-menu-option__content
  padding: 0 2rem 0 1rem

.ui-menu-option__icon
  font-size: 1.5rem

.ui-menu.mw-none
  max-width: none

// -- UI Tabs --

.ui-tabs--centered
  .ui-tabs__header-items
    justify-content: center

.ui-tabs--fill
  margin-bottom: 0

  .ui-tabs__body
    // same as .flex-fill
    flex: 1 1
    min-width: 0; /* 1 */
    min-height: 0; /* 1 */

  overflow: auto
  border-bottom: none
