::selection
  background: #3390ff
  color: #fff

*,
*::before,
*::after
  box-sizing: border-box

html
  // necessary for tether dropdown place
  height: 100%

body
  font-family: $font-family
  font-size: $font-size
  // necessary for tether dropdown place
  min-height: 100%
  overflow: hidden
  color: $primary-text

input, textarea, keygen, select, button
  font-family: $font-family

input, button, submit
  border: none
  outline: none

// match Element UI
input
  &.disabled,
  &[disabled]
    background-color: #f5f7fa
    border-color: #e4e7ed
    color: #c0c4cc
    cursor: not-allowed

button, submit
  &.disabled,
  &[disabled]
    pointer-events: none; // future-proof disabling of clicks
    opacity: .65

button
  background: none
  cursor: pointer

  &.disabled,
  &[disabled]
    cursor: default

table
  /* cellspacing */
  border-spacing: 0

th, td
  /* cellpadding */
  padding: 0

p
  line-height: 1.5

p:first-child
  margin-top: 0

code, pre
  font-family: Consolas, monaco, monospace;
  font-size: .8em
  -webkit-font-smoothing: initial
  -moz-osx-font-smoothing: initial

code
  color: #e96900
  padding: 3px 5px
  margin: 0 2px
  border-radius: 2px
  white-space: nowrap

pre
  margin: 4px 0
  background-color: #f8f8f8
  border-radius: 4px
  overflow: auto
  word-wrap: normal

pre + pre
  margin-top: 20px

pre code
  display: block
  border-radius: 4px
  color: #525252
  font-size: 12px
  line-height: 18px
  padding: 16px
  white-space: pre
