.markdown
  background-color: #fff
  color: #303133
  font-size: 15px
  line-height: 1.5em
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale

  :first-child
    margin-top: 0

  h1, h2, h3, h4, h5, h6
    line-height: initial
    font-weight: 400

  h1
    font-size: 2.4em
    line-height: 2.5em
    margin: 0 0 .5em

  h2
    font-size: 1.8em
    margin: 2em 0 .8em
    line-height: 1.6em
    border-bottom: 1px solid #ddd

  h3
    font-size: 1.4em
    font-weight: 600
    margin: 2em 0 1em

  h4
    font-size: 1.125em

  h5
    font-size: 0.875em

  h6
    font-size: 0.75em

  p
    word-spacing: 0.05em

  p, ul, ol
    line-height: 1.7em

  ul, ol
    padding-left: 1.5em
    line-height: 1.7em
    margin-bottom: 2em
    margin-left: 1.5em
    > li
      margin-top: 0.2em
    ul, p
      padding-bottom: 0
      margin: 1.2em 0

  /*
  li > ul
  li > ol
  ul > li + li
  ol > li + li
    margin-top: 0.6rem
  */

  a
    text-decoration: none
    color: #409eff
    font-weight: 600

  img
    border: none
    max-width: 100%

  code, pre
    font-family: Consolas, monaco, monospace;
    font-size: .8em
    -webkit-font-smoothing: initial
    -moz-osx-font-smoothing: initial

  code
    color: #e96900
    padding: 3px 5px
    margin: 0 2px
    border-radius: 2px
    white-space: nowrap

  pre
    margin: 4px 0
    background-color: #f8f8f8
    border-radius: 4px
    overflow: auto
    word-wrap: normal

  pre + pre
    margin-top: 20px

  pre code
    display: block
    border-radius: 4px
    color: #525252
    font-size: 12px
    line-height: 18px
    padding: 16px
    white-space: pre

  input
  textarea
  keygen
  select
  button
    font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif

  input
  button
  submit
    border: none
    outline: none
    padding: 0
    &.disabled
    &[disabled]
      pointer-events: none
      opacity: .65

  button
    background: none
    cursor: pointer
    &.disabled
    &[disabled]
      cursor: default

  blockquote
    margin: 2em 0 2em 2em
    padding-left: 1em
    border-left: 4px solid #ccc
    p
      font-weight: 600
      margin-left: 0
      margin-bottom: 0
      padding-bottom: 0

  address
    font-style: normal

  figure
    margin: 1.2em 0

  iframe
    margin: 0

  > table
    border-spacing: 0
    border-collapse: collapse
    margin: 1.4em auto
    padding: 0
    display: block
    overflow-x: auto
    td, th
      line-height: 1.5em
      padding: .4em .8em
      border: none
      border: 1px solid #e0e0e0
    th
      font-weight: 600
      text-align: left
    th, tr:nth-child(2n)
      background-color: #f8f8f8
    code
      background: transparent
      padding: 0
