
// responsive breakpoints
$breakpoint-not-small = "screen and (min-width: 30em)"
$breakpoint-medium = "screen and (min-width: 30em) and (max-width: 60em)"
$breakpoint-large = "screen and (min-width: 60em)"

// command colors
$task-gray   = #aaaaaa
$task-blue   = #0ab5f3
$task-green  = #65c16f
$task-orange = #f4823a
$task-purple = #a089e5

// match .blue color to Material Design's 'Blue 500' color
//$blue = #2196f3

//$body-color = #606266 // match Element UI's body color
$body-color = #303133
$blue = #409eff // match Element UI's blue

// tachyons colors
$dark-red = #e7040f
$bg-light-gray = #eee
$bg-near-white = #f4f4f4
$black-60 = rgba(0,0,0,0.6)
