
// fill the containing wrapper element
.CodeMirror
  width: 100%
  height: 100%

// fix the weird choice for a selection color
.CodeMirror-selected
  background: #f0f0f0
.CodeMirror-focused .CodeMirror-selected
  background: #d0d0d0
// CodeMirror placeholder text color
.CodeMirror-empty
  color: #999

/*
// -- CodeMirror autocomplete dropdown styles --

.CodeMirror-flexio-commandbar-tooltip
  position: absolute
  z-index: 60
  white-space: pre-wrap
  font-family: monospace
  color: #333
  padding: 2px
  background-color: #fff
  min-width: 8rem
  max-width: 32rem
  max-height: 18rem
  overflow-y: auto
  border-radius: 0; //3px?
  box-shadow: 2px 3px 5px rgba(0, 0, 0, 0.125), -2px 3px 5px rgba(0, 0, 0, 0.125), 0 0 2px rgba(0, 0, 0, 0.25)

.CodeMirror-flexio-commandbar-tooltip-item
  display: block
  padding: 3px 6px
  border-radius: 2px
  cursor: default

  &:hover
    background-color: rgba(0, 0, 0, 0.075)

.CodeMirror-flexio-commandbar-tooltip-item-active
  background-color: rgba(0, 0, 0, 0.15)

  &:hover
    background-color: rgba(0, 0, 0, 0.225)

// -- CodeMirror command bar lint styles --

.CodeMirror-lint-tooltip
  background-color: #ffd
  border: 0
  box-shadow: 1px 2px 4px -1px rgba(0, 0, 0, 0.125), -1px 2px 4px -1px rgba(0, 0, 0, 0.125), 0 0 1px rgba(0, 0, 0, 0.25)
  border-radius: 0; //3px?
  color: black
  font-family: monospace
  font-size: 13px
  overflow: hidden
  padding: 3px 4px
  position: fixed
  white-space: pre
  white-space: pre-wrap
  z-index: 100
  max-width: 600px
  opacity: 0
  transition: opacity .4s

// -- CodeMirror command bar theme --

.cm-s-flexio-commandbar
  .cm-def
    color: #06f
  .cm-number
    color: #090
  .cm-string
    color: #a11

// -- CodeMirror application/json theme --

.cm-s-flexio-json
  .cm-string
    color: #a11
  .cm-property
    color: black
  .cm-atom
    color: green
  .cm-number
    color: blue
*/
