
.CodeMirror {
  width: 100%;
  height: 100%;
}

.CodeMirror-empty {
  color: #999;
}

.CodeMirror-flexio-cmdbar-completion {
  padding-left: 22px;
  position: relative;
  line-height: 1.5;
}
.CodeMirror-flexio-cmdbar-completion:before {
  position: absolute;
  left: 2px;
  bottom: 2px;
  border-radius: 3px;
  font-size: 12px;
  font-weight: bold;
  height: 15px;
  width: 15px;
  line-height: 16px;
  text-align: center;
  color: white;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.CodeMirror-flexio-cmdbar-completion-unknown:before {
  content: "?";
  background: #4bb;
}
.CodeMirror-flexio-cmdbar-completion-object:before {
  content: "O";
  background: #77c;
}
.CodeMirror-flexio-cmdbar-completion-fn:before {
  content: "F";
  background: #7c7;
}
.CodeMirror-flexio-cmdbar-completion-array:before {
  content: "A";
  background: #c66;
}
.CodeMirror-flexio-cmdbar-completion-number:before {
  content: "1";
  background: #999;
}
.CodeMirror-flexio-cmdbar-completion-string:before {
  content: "S";
  background: #999;
}
.CodeMirror-flexio-cmdbar-completion-bool:before {
  content: "B";
  background: #999;
}

.CodeMirror-flexio-cmdbar-completion-guess {
  color: #999;
}

.CodeMirror-flexio-cmdbar-tooltip {
  position: absolute;
  z-index: 60;
  white-space: pre-wrap;
  font-family: monospace;
  color: #666;
  padding: 2px;
  background-color: #fff;
  min-width: 8rem;
  max-width: 32em;
  border-radius: 3px;
  box-shadow: 2px 3px 5px rgba(0,0,0,0.125), -2px 3px 5px rgba(0,0,0,0.125), 0 0 2px rgba(0,0,0,0.25);
}

.CodeMirror-flexio-cmdbar-tooltip-item {
  display: block;
  padding: 2px 4px;
  border-radius: 2px;
}

.CodeMirror-flexio-cmdbar-hint-doc {
  max-width: 25em;
  margin-top: -3px;
}

.CodeMirror-flexio-cmdbar-fname {
  color: black;
}

.CodeMirror-flexio-cmdbar-farg {
  color: #70a;
}

.CodeMirror-flexio-cmdbar-farg-current {
  text-decoration: underline;
}

.CodeMirror-flexio-cmdbar-type {
  color: #07c;
}

.CodeMirror-flexio-cmdbar-fhint-guess {
  opacity: .7;
}

